<div class="wrapper is-flex is-justify-content-space-between">
<form class="is-flex-direction-column is-centered column is-one-third login-form" action="/login" method="post">
  <h2 class="is-size-4 login-txt mb-3"><b>log in</b></h2>
  <div class="inputs">
    <input class="input is-rounded mb-3" type="text" placeholder="username" name="loginuser">
    <input class="input is-rounded mb-3" type="password" placeholder="password" name="loginpassword">
  </div>
  <input class="button login-button" type="submit" value="log in">
</form>
<div class="divider"></div>
<form class="is-flex-direction-column is-centered column is-one-third login-form" action="/login" method="post">
  <h2 class="is-size-4 login-txt mb-3"><b>sign up</b></h2>
  <div class="inputs">
    <input class="input is-rounded mb-3" type="text" placeholder="username" name="signupuser">
    <input class="input is-rounded mb-3" type="password" placeholder="password" name="signuppassword">
  </div>
  <input class="button login-button" type="submit" value="sign up">
</form>
</div>
