<div class="wrapper is-flex is-justify-content-space-between">
<form class="is-flex-direction-column is-centered column is-one-third logout-form" action="/logout" method="post">
  <h2 class="is-size-4 login-txt mb-3"><b>log in</b></h2>
  <div class="inputs">
    <input class="input is-rounded mb-3">
    <input class="input is-rounded mb-3">
  </div>
  <input class="button logout-button" type="submit" value="logout">
</form>
<div class="divider"></div>
<form class="is-flex-direction-column is-centered column is-one-third logout-form" action="/logout" method="post">
  <h2 class="is-size-4 logout-txt mb-3"><b>Log Out</b></h2>
  <div class="inputs">
    <input class="input is-rounded mb-3">
    <input class="input is-rounded mb-3">
  </div>
  <input class="button logout-button">
</form>
</div>
