<form class="is-flex-direction-column is-centered column is-half">
  <div class="inputs">
    <input class="input is-rounded" type="text" placeholder="username">
    <input class="input is-rounded" type="password" placeholder="password">
  </div>
  <input class="button" type="submit" value="log in">
</form>

<form class="is-flex-direction-column is-centered column is-half">
  <div class="inputs">
    <input class="input is-rounded" type="text" placeholder="username">
    <input class="input is-rounded" type="password" placeholder="password">
  </div>
  <input class="button" type="submit" value="log in">
</form>