html {
  background-color: #BFD3C1;
}

main {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 100%;
}

.level-item {
  gap: 5px;
}

.comment-box {
  width: 75%;
}


.post-btn {
  float: right;
}

.divider {
  border-left: 3px solid #627264;
  height: 200px;
}

.login-txt {
  padding-left: 8px;
}

.login-button {
  margin-left: 8px;
}

.link-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}